# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Test files
**/*.test.ts
**/*.spec.ts
coverage

# Misc
README.md
*.md